.top-header {

  @include display(flex);

  @include flex-direction(row);
}
.logo-box {
  display: inline-block;
  text-transform: uppercase;
  color: $white;



  @include e(title) {
    font-size: rem(20px);
    text-transform: uppercase;
    font-family: $fontFamily;

    display: none;

  }

}


.right-box{
  padding-left: rem(140px);
  @include e(img){
    padding-left: rem(40px);
  }
}

.midle-box{


  color: white;
  margin-top: rem(275px);
}
.left-midle{
  @include display (flex);
  @include flex-direction (column);
  margin-left: rem(0px);
  font-family: $fontFamily;
  margin-bottom: rem(50px);

  @include e(title){
    font-size: rem(30px);
    display: flex;
    flex-direction: column;
    text-align: center;

  }
  @include e(img){
    padding-right: rem(0px);
    width: 41px;
    margin-top: rem(0px);
    margin-left: 0;
    transform: translateX(-50%);
  }
  @include e(content){
    font-size: rem(12px);
    padding-left: rem(50px);
    display: none;
  }
}

.right-midle{
  display: none;


}

@include e(content){
  font-size: rem(12px);
  margin-bottom: rem(150px);

}

