//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

$fontFamily: 'Roboto', sans-serif;

$baseFontSize: 16px;


$imgPath: "../i/";
$usersPath: "../userfiles/";
$fontPath: "../fonts/";


// Slick
$slick-font-path: $fontPath;
$slick-loader-path: $imgPath;


 // Colors
$gray:#979797;
$color: #444444;
$lightblack:#4c4c4c;
$bg:#f2f2f2;
$green: #186074;
$red:#ff0801;
$lightRed:#ff4b39;
$black: #000000;
$white: #ffffff;
$lightgray:#d1d1d1;
$navy:#005298;

